/*
 * Inventory
 * Swagger JSON for inventory apis
 *
 * OpenAPI spec version: 5.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.kibocommerce.sdk.inventory.api;

import com.kibocommerce.sdk.inventory.ApiCallback;
import com.kibocommerce.sdk.inventory.ApiClient;
import com.kibocommerce.sdk.inventory.ApiException;
import com.kibocommerce.sdk.inventory.ApiResponse;
import com.kibocommerce.sdk.inventory.Configuration;
import com.kibocommerce.sdk.inventory.Pair;
import com.kibocommerce.sdk.inventory.ProgressRequestBody;
import com.kibocommerce.sdk.inventory.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.kibocommerce.sdk.inventory.model.InlineResponse404;
import com.kibocommerce.sdk.inventory.model.JobQueueResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class FutureDateControllerApi {
    private ApiClient apiClient;

    public FutureDateControllerApi() {
        this(Configuration.getDefaultApiClient());
    }

    public FutureDateControllerApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for adjustFutureDate
     * @param xVolTenant Tenant ID (required)
     * @param futureInventoryID id of the future_inventory row in db (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call adjustFutureDateCall(Integer xVolTenant, Long futureInventoryID, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/adjustFutureDate/{futureInventoryID}/"
            .replaceAll("\\{" + "futureInventoryID" + "\\}", apiClient.escapeString(futureInventoryID.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xVolTenant != null) {
            localVarHeaderParams.put("x-vol-tenant", apiClient.parameterToString(xVolTenant));
        }

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if (progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call adjustFutureDateValidateBeforeCall(Integer xVolTenant, Long futureInventoryID, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'xVolTenant' is set
        if (xVolTenant == null) {
            throw new ApiException("Missing the required parameter 'xVolTenant' when calling adjustFutureDate(Async)");
        }
        
        // verify the required parameter 'futureInventoryID' is set
        if (futureInventoryID == null) {
            throw new ApiException("Missing the required parameter 'futureInventoryID' when calling adjustFutureDate(Async)");
        }
        

        com.squareup.okhttp.Call call = adjustFutureDateCall(xVolTenant, futureInventoryID, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Adjust future_date of future inventory
     * @param xVolTenant Tenant ID (required)
     * @param futureInventoryID id of the future_inventory row in db (required)
     * @return JobQueueResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public JobQueueResponse adjustFutureDate(Integer xVolTenant, Long futureInventoryID) throws ApiException {
        ApiResponse<JobQueueResponse> resp = adjustFutureDateWithHttpInfo(xVolTenant, futureInventoryID);
        return resp.getData();
    }

    /**
     * 
     * Adjust future_date of future inventory
     * @param xVolTenant Tenant ID (required)
     * @param futureInventoryID id of the future_inventory row in db (required)
     * @return ApiResponse&lt;JobQueueResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<JobQueueResponse> adjustFutureDateWithHttpInfo(Integer xVolTenant, Long futureInventoryID) throws ApiException {
        com.squareup.okhttp.Call call = adjustFutureDateValidateBeforeCall(xVolTenant, futureInventoryID, null, null);
        Type localVarReturnType = new TypeToken<JobQueueResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Adjust future_date of future inventory
     * @param xVolTenant Tenant ID (required)
     * @param futureInventoryID id of the future_inventory row in db (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call adjustFutureDateAsync(Integer xVolTenant, Long futureInventoryID, final ApiCallback<JobQueueResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = adjustFutureDateValidateBeforeCall(xVolTenant, futureInventoryID, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<JobQueueResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
