/*
 * Inventory
 * Swagger JSON for inventory apis
 *
 * OpenAPI spec version: 5.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.kibocommerce.sdk.inventory.api;

import com.kibocommerce.sdk.inventory.ApiCallback;
import com.kibocommerce.sdk.inventory.ApiClient;
import com.kibocommerce.sdk.inventory.ApiException;
import com.kibocommerce.sdk.inventory.ApiResponse;
import com.kibocommerce.sdk.inventory.Configuration;
import com.kibocommerce.sdk.inventory.Pair;
import com.kibocommerce.sdk.inventory.ProgressRequestBody;
import com.kibocommerce.sdk.inventory.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.kibocommerce.sdk.inventory.model.InlineResponse5001;
import com.kibocommerce.sdk.inventory.model.ShipmentInventoryAllocationRequest;
import com.kibocommerce.sdk.inventory.model.ShipmentInventoryAllocationResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ShipmentInventoryAllocationControllerApi {
    private ApiClient apiClient;

    public ShipmentInventoryAllocationControllerApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ShipmentInventoryAllocationControllerApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for getShipmentInventoryAllocations
     * @param xVolTenant Tenant ID (required)
     * @param shipmentInventoryAllocationRequest Request to future and current inventory allocations of item (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getShipmentInventoryAllocationsCall(Integer xVolTenant, ShipmentInventoryAllocationRequest shipmentInventoryAllocationRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = shipmentInventoryAllocationRequest;

        // create path and map variables
        String localVarPath = "/v5/inventory/shipmentInventoryAllocations";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xVolTenant != null) {
            localVarHeaderParams.put("x-vol-tenant", apiClient.parameterToString(xVolTenant));
        }

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if (progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getShipmentInventoryAllocationsValidateBeforeCall(Integer xVolTenant, ShipmentInventoryAllocationRequest shipmentInventoryAllocationRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'xVolTenant' is set
        if (xVolTenant == null) {
            throw new ApiException("Missing the required parameter 'xVolTenant' when calling getShipmentInventoryAllocations(Async)");
        }
        
        // verify the required parameter 'shipmentInventoryAllocationRequest' is set
        if (shipmentInventoryAllocationRequest == null) {
            throw new ApiException("Missing the required parameter 'shipmentInventoryAllocationRequest' when calling getShipmentInventoryAllocations(Async)");
        }
        

        com.squareup.okhttp.Call call = getShipmentInventoryAllocationsCall(xVolTenant, shipmentInventoryAllocationRequest, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Get future Inventory Allocations by shipment Ids
     * @param xVolTenant Tenant ID (required)
     * @param shipmentInventoryAllocationRequest Request to future and current inventory allocations of item (required)
     * @return ShipmentInventoryAllocationResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ShipmentInventoryAllocationResponse getShipmentInventoryAllocations(Integer xVolTenant, ShipmentInventoryAllocationRequest shipmentInventoryAllocationRequest) throws ApiException {
        ApiResponse<ShipmentInventoryAllocationResponse> resp = getShipmentInventoryAllocationsWithHttpInfo(xVolTenant, shipmentInventoryAllocationRequest);
        return resp.getData();
    }

    /**
     * 
     * Get future Inventory Allocations by shipment Ids
     * @param xVolTenant Tenant ID (required)
     * @param shipmentInventoryAllocationRequest Request to future and current inventory allocations of item (required)
     * @return ApiResponse&lt;ShipmentInventoryAllocationResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ShipmentInventoryAllocationResponse> getShipmentInventoryAllocationsWithHttpInfo(Integer xVolTenant, ShipmentInventoryAllocationRequest shipmentInventoryAllocationRequest) throws ApiException {
        com.squareup.okhttp.Call call = getShipmentInventoryAllocationsValidateBeforeCall(xVolTenant, shipmentInventoryAllocationRequest, null, null);
        Type localVarReturnType = new TypeToken<ShipmentInventoryAllocationResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Get future Inventory Allocations by shipment Ids
     * @param xVolTenant Tenant ID (required)
     * @param shipmentInventoryAllocationRequest Request to future and current inventory allocations of item (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getShipmentInventoryAllocationsAsync(Integer xVolTenant, ShipmentInventoryAllocationRequest shipmentInventoryAllocationRequest, final ApiCallback<ShipmentInventoryAllocationResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getShipmentInventoryAllocationsValidateBeforeCall(xVolTenant, shipmentInventoryAllocationRequest, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ShipmentInventoryAllocationResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
