/*
 * Kibo Admin User Service
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * OpenAPI spec version: v1
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.kibocommerce.kibo.sdk.java.auth;

import com.kibocommerce.kibo.sdk.java.auth.ApiCallback;
import com.kibocommerce.kibo.sdk.java.auth.ApiClient;
import com.kibocommerce.kibo.sdk.java.auth.ApiException;
import com.kibocommerce.kibo.sdk.java.auth.ApiResponse;
import com.kibocommerce.kibo.sdk.java.auth.Configuration;
import com.kibocommerce.kibo.sdk.java.auth.Pair;
import com.kibocommerce.kibo.sdk.java.auth.ProgressRequestBody;
import com.kibocommerce.kibo.sdk.java.auth.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.kibocommerce.kibo.sdk.java.auth.model.MultiScopeAdminUserAuthTicket;
import com.kibocommerce.kibo.sdk.java.auth.model.TokenInfo;
import com.kibocommerce.kibo.sdk.java.auth.model.UserAuthInfo;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class MultiScopeAdminAuthTicketApi {
    private ApiClient apiClient;

    public MultiScopeAdminAuthTicketApi() {
        this(Configuration.getDefaultApiClient());
    }

    public MultiScopeAdminAuthTicketApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for createUserAuthTicket
     * @param xVolTenant  (required)
     * @param scopeType  (optional)
     * @param scopeId  (optional)
     * @param autoAssignScope  (optional, default to true)
     * @param xVolSite  (optional)
     * @param userAuthInfo  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createUserAuthTicketCall(Integer xVolTenant, String scopeType, Integer scopeId, Boolean autoAssignScope, Integer xVolSite, UserAuthInfo userAuthInfo, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = userAuthInfo;

        // create path and map variables
        String localVarPath = "/platform/adminuser/multi-scope/authtickets";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (scopeType != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("scopeType", scopeType));
        }

        if (scopeId != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("scopeId", scopeId));
        }

        if (autoAssignScope != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("autoAssignScope", autoAssignScope));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xVolTenant != null) {
            localVarHeaderParams.put("x-vol-tenant", apiClient.parameterToString(xVolTenant));
        }

        if (xVolSite != null) {
            localVarHeaderParams.put("x-vol-site", apiClient.parameterToString(xVolSite));
        }

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "text/plain", "application/json", "text/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json-patch+json", "application/json", "text/json", "application/_*+json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if (progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "x-vol-app-claims", "x-vol-user-claims" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createUserAuthTicketValidateBeforeCall(Integer xVolTenant, String scopeType, Integer scopeId, Boolean autoAssignScope, Integer xVolSite, UserAuthInfo userAuthInfo, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'xVolTenant' is set
        if (xVolTenant == null) {
            throw new ApiException("Missing the required parameter 'xVolTenant' when calling createUserAuthTicket(Async)");
        }
        

        com.squareup.okhttp.Call call = createUserAuthTicketCall(xVolTenant, scopeType, scopeId, autoAssignScope, xVolSite, userAuthInfo, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * 
     * @param xVolTenant  (required)
     * @param scopeType  (optional)
     * @param scopeId  (optional)
     * @param autoAssignScope  (optional, default to true)
     * @param xVolSite  (optional)
     * @param userAuthInfo  (optional)
     * @return MultiScopeAdminUserAuthTicket
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public MultiScopeAdminUserAuthTicket createUserAuthTicket(Integer xVolTenant, String scopeType, Integer scopeId, Boolean autoAssignScope, Integer xVolSite, UserAuthInfo userAuthInfo) throws ApiException {
        ApiResponse<MultiScopeAdminUserAuthTicket> resp = createUserAuthTicketWithHttpInfo(xVolTenant, scopeType, scopeId, autoAssignScope, xVolSite, userAuthInfo);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param xVolTenant  (required)
     * @param scopeType  (optional)
     * @param scopeId  (optional)
     * @param autoAssignScope  (optional, default to true)
     * @param xVolSite  (optional)
     * @param userAuthInfo  (optional)
     * @return ApiResponse&lt;MultiScopeAdminUserAuthTicket&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<MultiScopeAdminUserAuthTicket> createUserAuthTicketWithHttpInfo(Integer xVolTenant, String scopeType, Integer scopeId, Boolean autoAssignScope, Integer xVolSite, UserAuthInfo userAuthInfo) throws ApiException {
        com.squareup.okhttp.Call call = createUserAuthTicketValidateBeforeCall(xVolTenant, scopeType, scopeId, autoAssignScope, xVolSite, userAuthInfo, null, null);
        Type localVarReturnType = new TypeToken<MultiScopeAdminUserAuthTicket>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param xVolTenant  (required)
     * @param scopeType  (optional)
     * @param scopeId  (optional)
     * @param autoAssignScope  (optional, default to true)
     * @param xVolSite  (optional)
     * @param userAuthInfo  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createUserAuthTicketAsync(Integer xVolTenant, String scopeType, Integer scopeId, Boolean autoAssignScope, Integer xVolSite, UserAuthInfo userAuthInfo, final ApiCallback<MultiScopeAdminUserAuthTicket> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createUserAuthTicketValidateBeforeCall(xVolTenant, scopeType, scopeId, autoAssignScope, xVolSite, userAuthInfo, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<MultiScopeAdminUserAuthTicket>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteUserAuthTicket
     * @param xVolTenant  (required)
     * @param refreshToken  (optional)
     * @param xVolSite  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteUserAuthTicketCall(Integer xVolTenant, String refreshToken, Integer xVolSite, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/platform/adminuser/multi-scope/authtickets";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (refreshToken != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("refreshToken", refreshToken));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xVolTenant != null) {
            localVarHeaderParams.put("x-vol-tenant", apiClient.parameterToString(xVolTenant));
        }

        if (xVolSite != null) {
            localVarHeaderParams.put("x-vol-site", apiClient.parameterToString(xVolSite));
        }

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if (progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "x-vol-app-claims", "x-vol-user-claims" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteUserAuthTicketValidateBeforeCall(Integer xVolTenant, String refreshToken, Integer xVolSite, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'xVolTenant' is set
        if (xVolTenant == null) {
            throw new ApiException("Missing the required parameter 'xVolTenant' when calling deleteUserAuthTicket(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteUserAuthTicketCall(xVolTenant, refreshToken, xVolSite, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * 
     * @param xVolTenant  (required)
     * @param refreshToken  (optional)
     * @param xVolSite  (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteUserAuthTicket(Integer xVolTenant, String refreshToken, Integer xVolSite) throws ApiException {
        deleteUserAuthTicketWithHttpInfo(xVolTenant, refreshToken, xVolSite);
    }

    /**
     * 
     * 
     * @param xVolTenant  (required)
     * @param refreshToken  (optional)
     * @param xVolSite  (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteUserAuthTicketWithHttpInfo(Integer xVolTenant, String refreshToken, Integer xVolSite) throws ApiException {
        com.squareup.okhttp.Call call = deleteUserAuthTicketValidateBeforeCall(xVolTenant, refreshToken, xVolSite, null, null);
        return apiClient.execute(call);
    }

    /**
     *  (asynchronously)
     * 
     * @param xVolTenant  (required)
     * @param refreshToken  (optional)
     * @param xVolSite  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteUserAuthTicketAsync(Integer xVolTenant, String refreshToken, Integer xVolSite, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteUserAuthTicketValidateBeforeCall(xVolTenant, refreshToken, xVolSite, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for getTokenInfo
     * @param xVolTenant  (required)
     * @param xVolSite  (optional)
     * @param body  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getTokenInfoCall(Integer xVolTenant, Integer xVolSite, String body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/platform/adminuser/multi-scope/authtickets/tokeninfo";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xVolTenant != null) {
            localVarHeaderParams.put("x-vol-tenant", apiClient.parameterToString(xVolTenant));
        }

        if (xVolSite != null) {
            localVarHeaderParams.put("x-vol-site", apiClient.parameterToString(xVolSite));
        }

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "text/plain", "application/json", "text/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json-patch+json", "application/json", "text/json", "application/_*+json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if (progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "x-vol-app-claims", "x-vol-user-claims" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getTokenInfoValidateBeforeCall(Integer xVolTenant, Integer xVolSite, String body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'xVolTenant' is set
        if (xVolTenant == null) {
            throw new ApiException("Missing the required parameter 'xVolTenant' when calling getTokenInfo(Async)");
        }
        

        com.squareup.okhttp.Call call = getTokenInfoCall(xVolTenant, xVolSite, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * 
     * @param xVolTenant  (required)
     * @param xVolSite  (optional)
     * @param body  (optional)
     * @return TokenInfo
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public TokenInfo getTokenInfo(Integer xVolTenant, Integer xVolSite, String body) throws ApiException {
        ApiResponse<TokenInfo> resp = getTokenInfoWithHttpInfo(xVolTenant, xVolSite, body);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param xVolTenant  (required)
     * @param xVolSite  (optional)
     * @param body  (optional)
     * @return ApiResponse&lt;TokenInfo&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<TokenInfo> getTokenInfoWithHttpInfo(Integer xVolTenant, Integer xVolSite, String body) throws ApiException {
        com.squareup.okhttp.Call call = getTokenInfoValidateBeforeCall(xVolTenant, xVolSite, body, null, null);
        Type localVarReturnType = new TypeToken<TokenInfo>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param xVolTenant  (required)
     * @param xVolSite  (optional)
     * @param body  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getTokenInfoAsync(Integer xVolTenant, Integer xVolSite, String body, final ApiCallback<TokenInfo> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getTokenInfoValidateBeforeCall(xVolTenant, xVolSite, body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<TokenInfo>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for refreshUserAuthTicket
     * @param xVolTenant  (required)
     * @param refreshToken  (optional)
     * @param scopeType  (optional)
     * @param scopeId  (optional)
     * @param xVolSite  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call refreshUserAuthTicketCall(Integer xVolTenant, String refreshToken, String scopeType, Integer scopeId, Integer xVolSite, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/platform/adminuser/multi-scope/authtickets";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (refreshToken != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("refreshToken", refreshToken));
        }

        if (scopeType != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("scopeType", scopeType));
        }

        if (scopeId != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("scopeId", scopeId));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xVolTenant != null) {
            localVarHeaderParams.put("x-vol-tenant", apiClient.parameterToString(xVolTenant));
        }

        if (xVolSite != null) {
            localVarHeaderParams.put("x-vol-site", apiClient.parameterToString(xVolSite));
        }

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "text/plain", "application/json", "text/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if (progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "x-vol-app-claims", "x-vol-user-claims" };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call refreshUserAuthTicketValidateBeforeCall(Integer xVolTenant, String refreshToken, String scopeType, Integer scopeId, Integer xVolSite, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'xVolTenant' is set
        if (xVolTenant == null) {
            throw new ApiException("Missing the required parameter 'xVolTenant' when calling refreshUserAuthTicket(Async)");
        }
        

        com.squareup.okhttp.Call call = refreshUserAuthTicketCall(xVolTenant, refreshToken, scopeType, scopeId, xVolSite, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * 
     * @param xVolTenant  (required)
     * @param refreshToken  (optional)
     * @param scopeType  (optional)
     * @param scopeId  (optional)
     * @param xVolSite  (optional)
     * @return MultiScopeAdminUserAuthTicket
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public MultiScopeAdminUserAuthTicket refreshUserAuthTicket(Integer xVolTenant, String refreshToken, String scopeType, Integer scopeId, Integer xVolSite) throws ApiException {
        ApiResponse<MultiScopeAdminUserAuthTicket> resp = refreshUserAuthTicketWithHttpInfo(xVolTenant, refreshToken, scopeType, scopeId, xVolSite);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param xVolTenant  (required)
     * @param refreshToken  (optional)
     * @param scopeType  (optional)
     * @param scopeId  (optional)
     * @param xVolSite  (optional)
     * @return ApiResponse&lt;MultiScopeAdminUserAuthTicket&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<MultiScopeAdminUserAuthTicket> refreshUserAuthTicketWithHttpInfo(Integer xVolTenant, String refreshToken, String scopeType, Integer scopeId, Integer xVolSite) throws ApiException {
        com.squareup.okhttp.Call call = refreshUserAuthTicketValidateBeforeCall(xVolTenant, refreshToken, scopeType, scopeId, xVolSite, null, null);
        Type localVarReturnType = new TypeToken<MultiScopeAdminUserAuthTicket>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param xVolTenant  (required)
     * @param refreshToken  (optional)
     * @param scopeType  (optional)
     * @param scopeId  (optional)
     * @param xVolSite  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call refreshUserAuthTicketAsync(Integer xVolTenant, String refreshToken, String scopeType, Integer scopeId, Integer xVolSite, final ApiCallback<MultiScopeAdminUserAuthTicket> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = refreshUserAuthTicketValidateBeforeCall(xVolTenant, refreshToken, scopeType, scopeId, xVolSite, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<MultiScopeAdminUserAuthTicket>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
