/*
 * Inventory
 * Swagger JSON for inventory apis
 *
 * OpenAPI spec version: 5.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.kibocommerce.kibo.sdk.java.inventory;

import com.kibocommerce.kibo.sdk.java.inventory.ApiCallback;
import com.kibocommerce.kibo.sdk.java.inventory.ApiClient;
import com.kibocommerce.kibo.sdk.java.inventory.ApiException;
import com.kibocommerce.kibo.sdk.java.inventory.ApiResponse;
import com.kibocommerce.kibo.sdk.java.inventory.Configuration;
import com.kibocommerce.kibo.sdk.java.inventory.Pair;
import com.kibocommerce.kibo.sdk.java.inventory.ProgressRequestBody;
import com.kibocommerce.kibo.sdk.java.inventory.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.kibocommerce.kibo.sdk.java.inventory.model.GetPendingItemsResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class PendingItemsControllerApi {
    private ApiClient apiClient;

    public PendingItemsControllerApi() {
        this(Configuration.getDefaultApiClient());
    }

    public PendingItemsControllerApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for deletePendingItems
     * @param xVolTenant Tenant ID (required)
     * @param pendingItemID Pending Item ID (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deletePendingItemsCall(Integer xVolTenant, Integer pendingItemID, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/v1/pendingItem/{pendingItemID}"
            .replaceAll("\\{" + "pendingItemID" + "\\}", apiClient.escapeString(pendingItemID.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xVolTenant != null) {
            localVarHeaderParams.put("x-vol-tenant", apiClient.parameterToString(xVolTenant));
        }

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if (progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deletePendingItemsValidateBeforeCall(Integer xVolTenant, Integer pendingItemID, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'xVolTenant' is set
        if (xVolTenant == null) {
            throw new ApiException("Missing the required parameter 'xVolTenant' when calling deletePendingItems(Async)");
        }
        
        // verify the required parameter 'pendingItemID' is set
        if (pendingItemID == null) {
            throw new ApiException("Missing the required parameter 'pendingItemID' when calling deletePendingItems(Async)");
        }
        

        com.squareup.okhttp.Call call = deletePendingItemsCall(xVolTenant, pendingItemID, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Delete Pending Items
     * @param xVolTenant Tenant ID (required)
     * @param pendingItemID Pending Item ID (required)
     * @return Boolean
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Boolean deletePendingItems(Integer xVolTenant, Integer pendingItemID) throws ApiException {
        ApiResponse<Boolean> resp = deletePendingItemsWithHttpInfo(xVolTenant, pendingItemID);
        return resp.getData();
    }

    /**
     * 
     * Delete Pending Items
     * @param xVolTenant Tenant ID (required)
     * @param pendingItemID Pending Item ID (required)
     * @return ApiResponse&lt;Boolean&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Boolean> deletePendingItemsWithHttpInfo(Integer xVolTenant, Integer pendingItemID) throws ApiException {
        com.squareup.okhttp.Call call = deletePendingItemsValidateBeforeCall(xVolTenant, pendingItemID, null, null);
        Type localVarReturnType = new TypeToken<Boolean>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Delete Pending Items
     * @param xVolTenant Tenant ID (required)
     * @param pendingItemID Pending Item ID (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deletePendingItemsAsync(Integer xVolTenant, Integer pendingItemID, final ApiCallback<Boolean> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deletePendingItemsValidateBeforeCall(xVolTenant, pendingItemID, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Boolean>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getPendingItems
     * @param xVolTenant Tenant ID (required)
     * @param locationName Location Name (optional)
     * @param locationID Location Identifier (optional)
     * @param currentPage Current display page (optional)
     * @param numberPerPage Number of items shown per page (optional)
     * @param sortBy Field to sort by (enum &#x3D; {&#39;QUANTITY&#39;, &#39;FROM&#39;, &#39;TO&#39;, &#39;TYPE&#39;, &#39;ORDER_ID&#39;, &#39;WEIGHT&#39;}) (optional)
     * @param shipmentID Shipment ID (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getPendingItemsCall(Integer xVolTenant, String locationName, Integer locationID, Integer currentPage, Integer numberPerPage, String sortBy, Integer shipmentID, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/v1/pendingItem/";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (locationName != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("locationName", locationName));
        }

        if (locationID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("locationID", locationID));
        }

        if (currentPage != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("currentPage", currentPage));
        }

        if (numberPerPage != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("numberPerPage", numberPerPage));
        }

        if (sortBy != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("sortBy", sortBy));
        }

        if (shipmentID != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("shipmentID", shipmentID));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xVolTenant != null) {
            localVarHeaderParams.put("x-vol-tenant", apiClient.parameterToString(xVolTenant));
        }

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if (progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getPendingItemsValidateBeforeCall(Integer xVolTenant, String locationName, Integer locationID, Integer currentPage, Integer numberPerPage, String sortBy, Integer shipmentID, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'xVolTenant' is set
        if (xVolTenant == null) {
            throw new ApiException("Missing the required parameter 'xVolTenant' when calling getPendingItems(Async)");
        }
        

        com.squareup.okhttp.Call call = getPendingItemsCall(xVolTenant, locationName, locationID, currentPage, numberPerPage, sortBy, shipmentID, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Get Pending Items
     * @param xVolTenant Tenant ID (required)
     * @param locationName Location Name (optional)
     * @param locationID Location Identifier (optional)
     * @param currentPage Current display page (optional)
     * @param numberPerPage Number of items shown per page (optional)
     * @param sortBy Field to sort by (enum &#x3D; {&#39;QUANTITY&#39;, &#39;FROM&#39;, &#39;TO&#39;, &#39;TYPE&#39;, &#39;ORDER_ID&#39;, &#39;WEIGHT&#39;}) (optional)
     * @param shipmentID Shipment ID (optional)
     * @return GetPendingItemsResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public GetPendingItemsResponse getPendingItems(Integer xVolTenant, String locationName, Integer locationID, Integer currentPage, Integer numberPerPage, String sortBy, Integer shipmentID) throws ApiException {
        ApiResponse<GetPendingItemsResponse> resp = getPendingItemsWithHttpInfo(xVolTenant, locationName, locationID, currentPage, numberPerPage, sortBy, shipmentID);
        return resp.getData();
    }

    /**
     * 
     * Get Pending Items
     * @param xVolTenant Tenant ID (required)
     * @param locationName Location Name (optional)
     * @param locationID Location Identifier (optional)
     * @param currentPage Current display page (optional)
     * @param numberPerPage Number of items shown per page (optional)
     * @param sortBy Field to sort by (enum &#x3D; {&#39;QUANTITY&#39;, &#39;FROM&#39;, &#39;TO&#39;, &#39;TYPE&#39;, &#39;ORDER_ID&#39;, &#39;WEIGHT&#39;}) (optional)
     * @param shipmentID Shipment ID (optional)
     * @return ApiResponse&lt;GetPendingItemsResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<GetPendingItemsResponse> getPendingItemsWithHttpInfo(Integer xVolTenant, String locationName, Integer locationID, Integer currentPage, Integer numberPerPage, String sortBy, Integer shipmentID) throws ApiException {
        com.squareup.okhttp.Call call = getPendingItemsValidateBeforeCall(xVolTenant, locationName, locationID, currentPage, numberPerPage, sortBy, shipmentID, null, null);
        Type localVarReturnType = new TypeToken<GetPendingItemsResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Get Pending Items
     * @param xVolTenant Tenant ID (required)
     * @param locationName Location Name (optional)
     * @param locationID Location Identifier (optional)
     * @param currentPage Current display page (optional)
     * @param numberPerPage Number of items shown per page (optional)
     * @param sortBy Field to sort by (enum &#x3D; {&#39;QUANTITY&#39;, &#39;FROM&#39;, &#39;TO&#39;, &#39;TYPE&#39;, &#39;ORDER_ID&#39;, &#39;WEIGHT&#39;}) (optional)
     * @param shipmentID Shipment ID (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getPendingItemsAsync(Integer xVolTenant, String locationName, Integer locationID, Integer currentPage, Integer numberPerPage, String sortBy, Integer shipmentID, final ApiCallback<GetPendingItemsResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getPendingItemsValidateBeforeCall(xVolTenant, locationName, locationID, currentPage, numberPerPage, sortBy, shipmentID, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<GetPendingItemsResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
